<h1>SnapEditor License Agreement</h1>

<p>Copyright (c) 2012 by 8098182 Canada Inc.</p>

<p>For full details of the SnapEditor License Agreement, please visit <a href="http://snapeditor.com/license_agreement">http://snapeditor.com/license_agreeement</a>.</p>
